appdirs==1.4.4
brotlipy==0.7.0
certifi  
cffi 
charset-normalizer 
click 
colorama 
cryptography 
Flask 
idna 
itsdangerous 
Jinja2 
joblib
MarkupSafe 
pyFFTW
mkl-random
mkl-service==2.4.0
numpy 
packaging 
pooch 
pycparser 
pyOpenSSL 
PySocks 
requests 
scikit-learn
scipy==1.10.1
threadpoolctl 
urllib3 
Werkzeug 
win-inet-pton 
